// -------------------------------------------
// было
// -------------------------------------------
// root: true

// env:
//   browser: true

// extends:
//   "htmlacademy/es5"

// -------------------------------------------------------------
// For validating ECMAScript 2015 (ES6) project use es6 version:
// -------------------------------------------------------------

{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "extends": "htmlacademy/es6",
  "rules": {
    "strict":  [0],
    "quotes": [2, "double"],
    "no-undef": [0],
    "spaced-comment": [2, "always"],
    "yoda": [2, "never"],
    "no-shadow": [0],
    "space-before-function-paren": [2, "never"],
    "no-invalid-this": [0],
    "class-methods-use-this": [2],
    "no-console": [0],
    "prefer-const": [2],
    "consistent-return": [0]
  }
}

